.lightMode {
	--theme: rgb(145, 93, 173);
	--themeDark: rgb(37, 32, 40);
	--themeGreen: rgb(56, 72, 92);
	--themeYellow: rgb(252, 234, 127);
	--themeBlack: black;
	--themeWhite: white;
	--themeGray: gray;
	--themeShadow: rgb(100, 100, 100);
	--themeBg: rgb(240, 240, 240);
	--themeSectionsBg: var(--themeWhite);
	--themeSectionsShadow: 1px 1px 3px var(--themeShadow);
	--sectionOffset: 20px;
	--headerBg: var(--theme);
	--headerText: white;
	--headerBorder: var(--themeDark);
	--linkText: var(--theme);
	--searchOptionsBg: rgb(120, 120, 120);
	--searchBarBg: rgb(235, 235, 235);
	--searchInputBorder: rgb(200, 200, 200);
	--searchOptionsBg: rgba(30, 30, 30, 0.95);
	--searchOptionBorder: rgb(80, 80, 80);
	--searchOptionHover: rgba(80, 80, 80, 0.95);
	--searchButtonBg: var(--themeYellow);
	--searchButtonText: var(--themeGreen);
	--tempScaleSpan: rgb(80, 80, 80);
	--forcastPText: rgb(50, 50, 50);
	--forcastViewBg: var(--themeBg);
	--favoritesBg: var(--themeBg);
	--daysForcastBg: var(--themeBg);
	--daysTempText: var();
	--daysDayText: rgb(100, 100, 100);
	--favoritesBg: var(--themeBg);
	--singleCityTemp: var(--themeGreen);
	--singleCityText: rgb(70, 70, 70);
	--singleCityHeaderBg: var(--theme);
}

.darkMode {
	--theme: white;
	--themeDark: rgb(145, 93, 173);
	--themeGreen: rgb(252, 234, 127);
	--themeYellow: rgb(56, 72, 92);
	--themeBlack: white;
	--themeWhite: rgb(30, 30, 30);
	--themeGray: gray;
	--themeShadow: black;
	--themeDarkBg: rgb(70, 70, 70);
	--themeSectionsBg: rgb(30, 30, 30);
	--themeSectionsShadow: 10px 10px 10px var(--themeShadow);
	--sectionOffset: 25px;
	--headerBg: rgb(56, 72, 92);
	--headerText: white;
	--headerBorder: rgb(252, 234, 127);
	--linkText: rgb(252, 234, 127);
	--searchBarBg: rgb(70, 70, 70);
	--searchInputBorder: rgb(200, 200, 200);
	--searchOptionsBg: rgb(120, 120, 120);
	--searchOptionsBg: rgba(30, 30, 30, 0.95);
	--searchOptionBorder: rgb(80, 80, 80);
	--searchOptionHover: rgba(80, 80, 80, 0.95);
	--searchButtonBg: var(--themeYellow);
	--searchButtonText: var(--themeGreen);
	--tempScaleSpan: rgb(252, 234, 127);
	--forcastPText: rgb(200, 200, 200);
	--forcastViewBg: var(--themeDarkBg);
	--favoritesBg: var(--themeDarkBg);
	--daysForcastBg: var(--themeDarkBg);
	--daysTempText: var(--theme);
	--daysDayText: var(--themeGreen);
	--favoritesBg: var(--themeDarkBg);
	--singleCityTemp: white;
	--singleCityText: var(--themeGreen);
	--singleCityHeaderBg: rgb(252, 234, 127);
}
